@import "../styles/foundation/foundation.scss";

header {
  background: white;
  border-bottom: 1px solid black;
  .header {
    &_container {
      @include xy-grid-container;
      @include xy-grid;
    }
    &_column {
      color: white;
      font-size: 20px;
      text-align: center;
      padding: 15px;
      @include xy-cell(6);

      @include breakpoint(medium down) {
        @include xy-cell(12);
      }

      img {
        width: 60px;
        text-align: left;
        display: block;

        @include breakpoint(medium down) {
          text-align: center;
          display: inline;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          a {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        .download {
          background: black;
          padding: 8px 18px;
          display: flex;
          align-items: center;
          border-radius: 20px;
          transition: all 0.5s;

          a {
            color: white;
          }
          &:hover {
            background: white;
            outline: 1px solid black;
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
