@import "../styles/foundation/foundation.scss";

.skills {
  background: white;
  &_container {
    @include xy-grid;
    @include xy-grid-container;

    &_header {
      @include xy-cell(12);
      @include xy-grid;
      padding-top: 40px;

      .menu {
        @include xy-cell(6);

        @include breakpoint(medium down) {
          @include xy-cell(12);
          text-align: center;
        }
      }
      .text_skills {
        @include xy-cell(6);

        @include breakpoint(medium down) {
          @include xy-cell(12);
          text-align: center;
        }
      }
    }
  }
}
